{% assign groups = product.metafields.my_fields.swatch_group | split:"," %}
{% if groups != blank %}
{% if template contains 'product' %}
<div class="product-options product-options--type-page product-options--centered js-product-options swatch-group">
  <div data-section-container>
    <label class=""><span>Color:</span>
      <span class="ml-5" >
        {% for gg in groups %}
        {% assign colorr = gg | split:":" | first  %}
        {% assign pLinkk = gg | split:":" | last | strip %}
        
        {% if pLinkk == product.handle %}
         <input id="{{colorr}}" type="hidden" name="properties[]" value="{{colorr | capitalize  | replace:"-"," "}}">
        {{colorr}}
        {% endif %}
        {% endfor %}
      </span>
    </label>
    <div class="product-options__section d-flex flex-wrap">
      
      {% for g in groups %}
      {% assign color = g | split:":" | first  %}
      {% assign pHandle = g | split:":" | last |strip %}
      {% assign pLink = g | split:":" | last |strip | prepend:"/products/"   %}
      {% assign image_name = color | handle | append:".png"  %}
      {% assign image = images[image_name] %}
      <div image="{{image}}" style="{% if image contains image_name %}background-image: url({{ image | img_url:'35x' }});{% endif %} background-color:{{ color | handleize }};" class="product-options__value product-options__value--circle standard-color-{{ color | handleize }} text-hide border  cursor-pointer {% if pHandle == product.handle %} active{% endif %}">
        <a  href="{{pLink |strip }}">{{ color  }}</a>          
      </div> 
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% elsif template contains 'collection' %} 
{% assign product = product %}

{% if groups != blank %}
 <label class=""><span>More Color+</span></label>
 <div productId="{{product.id}}" class="product-options__section fadeInDown">
  
      {% for g in groups %}
      {% assign color = g | split:":" | first  %}
      {% assign pHandle = g | split:":" | last |strip %}
      {% assign pLink = g | split:":" | last |strip | prepend:"/products/"   %}
      {% assign image_name = color | handle | append:".png"  %}
      {% assign image = images[image_name] %}
   <a href="{{pLink}}">
      <span image="{{image}}" style="{% if image contains image_name %}background-image: url({{ image | img_url:'35x' }});{% endif %} background-color:{{ color | handleize }};" class="product-options__value product-options__value--circle standard-color-{{ color | handleize }} text-hide border  cursor-pointer {% if pHandle == product.handle %} active{% endif %}"></span> 
   </a>
   
      {% endfor %}
    </div>
{% endif %}


{% endif %}